body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}

html { 
    font-size: 20px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1.2em;
    text-shadow: 1px 1px 2px gray;
    border-bottom: solid 3px rgb(115, 115, 114);
}

#parent p {
    font-weight: bold;
}


.font_test {
    color:skyblue;
}

.font_test2 {
    color: rgb(255, 192, 203);
}

